<p id="notice"><%= notice %></p>

<p>
  <b>Bboy:</b>
  <%= @video_participant.bboy_id %>
</p>

<p>
  <b>Video:</b>
  <%= @video_participant.video_id %>
</p>

<p>
  <b>Crew:</b>
  <%= @video_participant.crew_id %>
</p>


<%= link_to 'Edit', edit_video_participant_path(@video_participant) %> |
<%= link_to 'Back', video_participants_path %>
