<h1>Listing bboys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bboyname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bboys.each do |bboy| %>
  <tr>
    <td><%= bboy.name %></td>
    <td><%= bboy.bboyName %></td>
    <td><%= link_to 'Show', bboy %></td>
    <td><%= link_to 'Edit', edit_bboy_path(bboy) %></td>
    <td><%= link_to 'Destroy', bboy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bboy', new_bboy_path %>
