<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bboy.name %>
</p>

<p>
  <b>Bboyname:</b>
  <%= @bboy.bboyName %>
</p>


<%= link_to 'Edit', edit_bboy_path(@bboy) %> |
<%= link_to 'Back', bboys_path %>
