<% crewHash = @video.crew_hash %>
<div class="row">

	<% crewHash.keys.each do |crew_id| %>
	<div class="offset1 span3">
		<dl id="crew<%=crew_id%>" class="bboyList">
		<dt>
			<h4><%= link_to crewHash[crew_id].first.crew.name, crewHash[crew_id].first.crew %></h5>
		</dt>
		<% crewHash[crew_id].each do |vp| %>
			<dd id="bboy<%=vp.id%>" class="bboy">
				<%= link_to vp.bboy.bboyName, bboy_path(vp.bboy)%>
				<% if user_signed_in? %>
				(<%= link_to "remove", video_participant_path(vp), :confirm => "Are you sure they aren't in this video?", :method => :delete, :class => "removeBboy" %>)
				<% end %>
			</dd>
		<% end %>
		</dl>
	</div>
	<% end %>


</div>
