<ul class="videoList">
<% videos.each do |video| %>
	<li>
		<span><%= link_to youtube_thumbnail(video), video %></span>
		<span><%= link_to video.title, video %></span>
		<span><%= video.description %></span>
		<% if user_signed_in? %>
			<span><%= link_to 'Edit', edit_video_path(video) %></span>
			<span><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></span>
		<% end %>
	</li>
<% end %>
</ul>