<% content_for :head do %>
	<meta property="og:title" content="<%=h @video.title %>"/>
	<meta property="og:description" content="<%=h @video.description %>"/>

	<meta property="og:type" content="video"/>
	<meta property="og:video" content="http://www.youtube.com/v/<%=@video.youtubeID%>?version=3&amp;autohide=1" />
	<meta property="og:video:height" content="390" />
	<meta property="og:video:width" content="640" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta property="og:image" content="http://img.youtube.com/vi/<%=@video.youtubeID%>/1.jpg"/>
<% end %>

<p id="notice"><%= notice %></p>

<span id="breadcrumb">
	<%= link_to "Home", root_path %> >
	<%= link_to "Videos", videos_path %> >
	<%= @video.title %>
</span>

<h1><%= @video.title %></h1>

<%= @video.to_html(390, 640) %>
	
<div id="videoDescription">
	<b>Description:</b>
	<p><%= @video.description %></p>
	<div id="likeButton">
	<%= facebook_like %>
	</div>
</div>

<h3>Crews</h3>
<%= render "crewList" %>

<%= render "participantForm", :locals => { :video => @video } %>

<%= link_to "Edit", edit_video_path(@video) if user_signed_in? %>
