<% content_for :head do %>
	<meta property="og:title" content="<%=h @video.title %>"/>
	<meta property="og:description" content="<%=h @video.description %>"/>

	<meta property="og:type" content="video"/>
	<meta property="og:video" content="http://www.youtube.com/v/<%=@video.youtubeID%>?version=3&amp;autohide=1" />
	<meta property="og:video:height" content="390" />
	<meta property="og:video:width" content="640" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta property="og:image" content="http://img.youtube.com/vi/<%=@video.youtubeID%>/1.jpg"/>
<% end %>

<div class="page-header">
	<h1><%= @video.title %></h1>
</div>

<div class="row">
	<div class="offset2 span8">
		<p id="notice"><%= notice %></p>
	</div>
</div>

<div id="videoContainer" class="row">
	<div class="offset1 span14">
		<%= @video.to_html(488, 800) %>
	</div>
</div>

<div id="videoDescription" class="row">
	<div class="offset1 span8">
		<h2>Description:</h2>
		<div >
			<p><%= @video.description %></p>
		</div>
	</div>
	<div class="offset1 span6">
		<div id="likeButton">
			<%= facebook_like %>
		</div>
	</div>
</div>

<div class="row">
	<div class="offset1 span14">
		<h3>Crews</h3>
	</div>
</div>

<%= render "crewList" %>

<div class="row">
	<div class="span16">
		<%= render "participantForm", :locals => { :video => @video } %>
	</div>
	<%= link_to "Edit", edit_video_path(@video) if user_signed_in? %>
</div>

