<p id="notice"><%= notice %></p>

<h1><%= @video.title %></h1>

<iframe 
	class="youtubeFrame"
	title="YouTube video player" 
	width="640" 
	height="390" 
	src="http://www.youtube.com/embed/<%= @video.youtubeID %>" 
	frameborder="0" 
	allowfullscreen>
</iframe>
	
<div id="videoDescription">
  <b>Description:</b>
  <p><%= @video.description %></p>
  <p>YoutubeID = <%= @video.youtubeID %></p>
</div>

<h3>Crews</h3>
<ul class="crewList">
	<% @video.crews.group(:crew_id).each do |crew| %>
	<li><%= link_to crew.name, crew_path %>
		<ul class="bboyList">
		<% @video.video_participants.find_all{ |vp| vp.crew == crew && vp.bboy != nil}.each do |vp| %>
			<li><%= link_to vp.bboy.bboyName, bboy_path(vp.bboy)%></li>
		<% end %>
		</ul>
	</li>
	<% end %>
</ul>
<%= link_to 'Edit', edit_video_path(@video) %>
<%= link_to 'Back', videos_path %>
