<p id="notice"><%= notice %></p>
<%= link_to "Videos", videos_path %>
<h1><%= @video.title %></h1>

<iframe 
	class="youtubeFrame"
	title="YouTube video player" 
	width="640" 
	height="390" 
	src="http://www.youtube.com/embed/<%= @video.youtubeID %>" 
	frameborder="0" 
	allowfullscreen>
</iframe>

<%= @video.to_html(390, 640) %>
	
<div id="videoDescription">
  <b>Description:</b>
  <p><%= @video.description %></p>
  <p>YoutubeID = <%= @video.youtubeID %></p>
</div>

<h3>Crews</h3>
<%= render :partial => 'crewList' %>

<% if user_signed_in? %>
	<%= render 'participantForm', :locals => {:video => @video} %>
<% end %>

<%= link_to "Edit", edit_video_path(@video) if user_signed_in? %>


