<%= form_for(@video_participant) do |f| %>
  <% if @video_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_participant.errors.count, "error") %> prohibited this video_participant from being saved:</h2>

      <ul>
      <% @video_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bboy_id %><br />
    <%= f.text_field :bboy_id %>
  </div>
  <div class="field">
    <%= f.label :video_id %><br />
    <%= f.text_field :video_id %>
  </div>
  <div class="field">
    <%= f.label :crew_id %><br />
    <%= f.text_field :crew_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
