<div class="fill">
	<div class="container">
		<a class="brand" href="/">Skills To Kill</a>

		<ul class="nav">
			<li><%= link_to "Videos", videos_path()%></li>
			<li><%= link_to "Crews", crews_path()%></li>
			<li><%= link_to "BBoys", bboys_path()%></li>
		</ul>

		<div class="pull-right">
		<% if user_signed_in? %>
			<span>Signed in as <%= current_user.email %>. Not you? <%= link_to "Sign out", destroy_user_session_path %></span>
		<% else %>
			<span><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %></span>
		<% end %>
		</div>
	</div>
</div>